import 'package:get/get.dart';

import '../controllers/{{pageName}}_controller.dart';

class {{className}}Binding extends Bindings {
  @override
  void dependencies() {
    Get.lazyPut<{{className}}Controller>(
      () => {{className}}Controller(),
    );
  }
}
